.select {
  width: 163px;
  height: 52px;
  border: 1px solid #e0e0e0;
  background-color: #fff;
  border-radius: 2px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #333333;
  border-style: solid;
  position: relative;
  cursor: pointer;
}

.selectContentCity {
  display: none;
}

.select[data-is-open="false"]::after {
  content: "";
  position: absolute;
  display: block;
  width: 6px;
  height: 6px;
  border-top: 1.5px solid #8a8a8a;
  border-right: 1.5px solid #8a8a8a;
  right: 15px;
  top: 50%;
  transform: translateY(-50%) rotate(136deg);
}

.select[data-is-open="true"]::after {
  content: "";
  position: absolute;
  display: block;
  width: 6px;
  height: 6px;
  border-top: 1.5px solid #8a8a8a;
  border-right: 1.5px solid #8a8a8a;
  right: 15px;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}

.selectContent {
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  background: #ffffff;
  box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.16);
  border-radius: 2px;
  z-index: 100;
}

.selectBtn {
  cursor: pointer;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  padding: 15px 12px;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
}

.seletcItem {
  background-color: #fff;
  padding: 12px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: "Gilroy";
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #333333;
  transition: all 0.5s ease;
  cursor: pointer;
}

.seletcItem:hover {
  color: #585cc6;
  background-color: #f5f5f5;
}

/* review type */
.select[data-type="review"] {
  width: 256px;
  height: 52px;
  position: relative;
  z-index: 1;
}

.select[data-type="review"]::after {
  right: 12px;
}

/* aboutMe city type */
.select[data-type="city"] .selectContent{
  display: none;
}

.select[data-type="city"] {
  width: 403px;
}

.select[data-type="city"] .selectContentCity{
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  background: #ffffff;
  box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.16);
  border-radius: 2px;
  z-index: 100;
}

.selectCitySearch {
  position: relative;
  display: flex;
  justify-content: center;
}

.selectCitySearch .findIcon {
  position: absolute;
  left: 22px;
  top: 43%;
  z-index: 100;
}

.select[data-type="bigWidth"] {
  width: 403px;
}

.select[data-type="smallWidth"] {
  width: 209px;
}

@media (max-width: 320px) {
  .select[data-type="review"] {
    width: 100%;
  }

  .select[data-type="city"] {
    width: 100%;
  }

  .select[data-type="bigWidth"] {
    width: 100%;
  }

  .select[data-type="smallWidth"]{
    width: 100%;
  }

}
