.button[data-type="editReviewSubmit"],
.button {
  cursor: pointer;
  padding: 17px 28px;
  border-radius: 2px;
  color: #fff;
  border: none;
  margin-bottom: 16px;

  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;

  background: linear-gradient(to left, #585cc6 50%, #6469e6e6 50%) right;
  background-size: 200%;
  transition: 0.5s ease-out;
}

.button[data-type="editReviewCancel"]:hover,
.button[data-type="editReviewSubmit"]:hover,
.button[data-type="cancel"]:hover,
.button:hover {
  background-position: left;
}


.button:disabled {
  background: #8a8a8a 100%;
}
.button[data-type="reviews"] {
  margin-bottom: 0;
}

/* type cancel  */
.button[data-type="editReviewCancel"],
.button[data-type="cancel"] {
  width: 148px;
  margin-left: 12px;
  background: linear-gradient(to left, #EB5757 50%, #f85d5d 50%) right;
  background-size: 200%;
  transition: 0.5s ease-out;
}

/* aboutMe header */
.button[data-type="submitAboutMeControlPanel"],
.button[data-type="submitAboutMe"] {
  margin-bottom: 0;
}

.button[data-type="submitAboutMeControlPanel"]:disabled,
.button[data-type="submitAboutMe"]:disabled {
  background: #8a8a8a 100%;
}

.button[data-type="authModalBtn"] {
  margin: 0;
  padding: 0;
  background: transparent;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #585cc6;
  transition: all 1s ease;
}

.button[data-type="authModalBtn"]::after {
  display: block;
  content: "";
  border-bottom: solid 1px #797ddf;
  transform: scaleX(0);
  transition: all 250ms ease-in-out;
}

.button[data-type="authModalBtn"]:hover::after {
  transform: scaleX(1);
}

@media (max-width: 320px) {
  .button[data-type="submit"] {
    width: 108px;
    height: 42px;
    margin-bottom: 0;
    font-size: 14px;
    padding: 12px 6px;
    margin-right: 6px;
  }

  .button[data-type="editReviewSubmit"] {
    width: 100%;
    height: 42px;
    margin-bottom: 8px;
    font-size: 14px;
    padding: 12px 6px;
    margin-right: 6px;
  } 

  .button[data-type="cancel"] {
    width: 102px;
    height: 42px;
    margin: 0;
    font-size: 14px;
    padding: 12px 6px;
    margin-right: 6px;
  } 

  .button[data-type="editReviewCancel"] {
    width: 100%;
    height: 42px;
    margin: 0;
    font-size: 14px;
    padding: 12px 6px;
    margin-right: 6px;
  } 

  .button[data-type="submitAboutMeControlPanel"],
  .button[data-type="submitAboutMe"] {
    width: 100%;
    font-size: 14px;
    padding: 12px 92px;
  }

  .button[data-type="submitAboutMeControlPanel"]{
    padding: 12px;
    text-align: center;
  }
  .button[data-type="authModalBtn"] {
    margin: 16px;
  }
}