.container {
  height: auto;
  min-width: 273px;
  background-color: #fff;
  padding: 59px 0px 0px 80px;
  border-right: 1px solid #e0e0e0;
}

.menuItem {
  cursor: pointer;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 40px;
  padding: 11.5px 0;
  text-decoration: none;
  color: #8a8a8a;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  font-family: "Factor A";
  transition: all 1s ease;
}

.activeMenuItem {
  cursor: pointer;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 40px;
  padding: 11.5px 0;
  text-decoration: none;
  color: #585cc6;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  font-family: "Factor A";
  transition: all 1s ease;
  position: relative;
}

.activeMenuItem::after {
  position: absolute;
  content: "";
  display: block;
  width: 4px;
  height: 100%;
  background-color: #585cc6;
  right: -2px;
}

.menuItem svg {
  margin-right: 12px;
  transition: all 1s ease;
}

.activeMenuItem svg {
  margin-right: 12px;
  transition: all 1s ease;
}

.activeMenuItem svg path {
  fill: #585cc6;
}

.menuItem:hover,
.menuItem:hover svg path {
  color: #797ddf;
  fill: #797ddf;
}

.menuItem svg path:hover {
  fill: #797ddf;
}

@media (max-width: 320px) {
  .container {
    padding: 24px 16px 8px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .menuItem {
    margin-bottom: 0;
  }

  .activeMenuItem {
    margin-bottom: 0;
  }

  .menuItem svg {
    display: none;
  }
  
  .activeMenuItem svg {
    display: none;
  }

  .activeMenuItem::after {
    width: 100%;
    height: 3px;
    background-color: #585cc6;
    bottom: 0;
  }
  
}
