.form {
  font-family: "Factor A";
  color: #333333;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 628px;
  height: 436px;
  border-radius: 2px;
  background-color: #fff;
  padding: 40px 40px 24px 40px;
}

.form h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  margin-bottom: 32px;
}

.formItem {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  margin-bottom: 32px;
}

.formItem label {
  margin-bottom: 4px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.formItem input {
  width: 100%;
  padding: 15px 12px;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
}

.inputWrapper {
  position: relative;
  width: 100%;
}

.icons {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

.icons :last-child {
  margin-left: 14px;
}

.icon {
  cursor: pointer;
}

.text {
  cursor: pointer;
  font-family: "Gilroy-regular";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #585CC6;
}

.hoverEmailMsg {
  position: absolute;
  top: -37px;
  right: -15px;

}

