.form {
  font-family: "Factor A";
  color: #333333;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 628px;
  height: 436px;
  border-radius: 2px;
  background-color: #fff;
  padding: 40px 40px 24px 40px;
}

.form h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  margin-bottom: 32px;
}

.formItem {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  margin-bottom: 32px;
}

.formItem label {
  margin-bottom: 4px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.formItem input {
  width: 100%;
  padding: 15px 12px;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  font-family: "Gilroy-Regular";
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  font-style: normal;
}

.formItem .passwordInput[type="text"] {
  font-weight: 600;
  letter-spacing: 0.2em;
}

.inputWrapper {
  position: relative;
  width: 100%;
}

.formItem input[data-isError="true"],
input[data-isError="true"]:focus,
input[data-isError="true"]:active {
  outline: 2px solid #eb5757;
}

.formItem input[data-hasData="true"],
input[data-hasData="true"]:focus,
input[data-hasData="true"]:active {
  outline: 2px solid #585cc6;
}

.formItem input[data-isUnknownUser="true"],
.formItem input[data-isUnknownUser="true"]:focus,
.formItem input[data-isUnknownUser="true"]:active {
  outline: 2px solid #eb5757;
}

.icons {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

.icon {
  cursor: pointer;
}

.icons :nth-child(2) {
  margin-left: 14px;
}

.btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-family: "Gilroy-regular";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #585cc6;
  transition: all 1s ease;
}

.btn::after {
  display: block;
  content: "";
  border-bottom: solid 1px #797ddf;
  transform: scaleX(0);
  transition: all 250ms ease-in-out;
}

.btn:hover::after {
  transform: scaleX(1);
}

.hoverMsg {
  position: absolute;
  top: -37px;
  right: -15px;
}
