.form {
  font-family: "Factor A";
  color: #333333;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 628px;
  height: 288px;
  border-radius: 2px;
  background-color: #fff;
  padding: 40px 40px 24px 40px;
  margin-bottom: 444px;
}

.form h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  margin-bottom: 32px;
}

.formItem {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  margin-bottom: 32px;
}

.formItem label {
  margin-bottom: 4px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.formItem input {
  padding: 15px 12px;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  width: 100%;
}

.actions {
  display: flex;
}

.actions button:first-child {
  margin-right: 12px;
}

.actions button:last-child {
  color: #585cc6;
  background-color: #fff;
  border: 1px solid #585cc6;
}
