.button {
  cursor: pointer;
  padding: 17px 28px;
  border-radius: 2px;
  color: #fff;
  border: none;
  margin-bottom: 16px;

  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;

  background: linear-gradient(to left, #585cc6 50%, #6469e6e6 50%) right;
  background-size: 200%;
  transition: 0.5s ease-out;
}

.button[data-type="cancel"]:hover,
.button:hover {
  background-position: left;
}

.button:disabled {
  background: #8a8a8a 100%;
}

/* type cancel control panel */
.button[data-type="cancel"] {
  width: 148px;
  margin-left: 12px;
  background: linear-gradient(to left, #EB5757 50%, #f85d5d 50%) right;
  background-size: 200%;
  transition: 0.5s ease-out;
}

/* aboutMe header */
.button[data-type="submitAboutMe"] {
  margin-bottom: 0;
}
