/* header aboutMe */
.header[data-type="aboutMe"] {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 80px;
  width: 100%;
  height: 116px;
  background-color: #fff;
  text-align: center;
}

.header[data-type="aboutMe"] .photoSection h2:last-child {
  display: none;
}

.header[data-type="aboutMe"] .controlPanelTitle {
  display: none;
}

.photoSection {
  display: flex;
  align-items: center;
}

.name {
  color: #333;
  font-size: 18px;
  font-family: "Gilroy-Bold", sans-serif;
}

.img {
  height: 52px;
  width: 52px;
  border-radius: 2px;
  margin-right: 20px;
}
/* end header aboutMe */

/* control panel header */
.header[data-type="control-panel"] .controlPanelTitle {
  display: none;
}

.header[data-type="control-panel"] .name:last-child {
  display: none;
}

.header[data-type="control-panel"] {
  background-color: #585cc6;
  height: 91px;
  padding: 25px 80px 26px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header[data-type="control-panel"] .photoSection {
  margin-right: 322px;
}

.header[data-type="control-panel"] .photoSection img {
  height: 40px;
  width: 40px;
  margin-right: 12px;
}

.header[data-type="control-panel"] .photoSection .name {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
}

.header[data-type="control-panel"] .mobile {
  display: flex;
}

.header[data-type="control-panel"] .controlPanelTitle {
  display: block;
  font-family: "Factor A";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  color: #ffffff;
}

.ilinkLogo {
  cursor: pointer;
}

.header[data-type="control-panel"] .ilinkLogo path {
  fill: #fff;
}

.header[data-type="control-panel"] .ilinkLogo {
  width: 54px;
  height: 33px;
}

.header[data-type="control-panel"] .actions {
  display: none;
}
/* end control panel header */

/* header auth */
.header[data-type="auth"] {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  margin-bottom: 44px;
}

.header[data-type="auth"] .controlPanelTitle {
  display: none;
}

.header[data-type="auth"] .photoSection {
  display: none;
}

.header[data-type="auth"] .actions {
  display: none;
}

.header[data-type="auth"] .ilinkLogo path {
  fill: #fff;
}
/* end header auth */

@media (max-width: 1400px) {
  .header[data-type="control-panel"] .mobile {
    display: flex;
    justify-content: space-between;
    width: 65%;
  }
  .header[data-type="control-panel"] .photoSection {
    margin-right: 0;
  }
}

@media (max-width: 710px) {
  .header[data-type="aboutMe"] {
    padding: 16px 21px;
  }

  .header[data-type="control-panel"] .mobile {
    display: flex;
    width: auto;
    flex-direction: column-reverse;
  }
  .header[data-type="control-panel"] .controlPanelTitle {
    display: flex;
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 14px;
    margin-bottom: 8px;
  }
  .header[data-type="control-panel"] {
    padding: 17px 14px 18px 16px;
  }
}

@media (max-width: 590px) {
  .header[data-type="aboutMe"] {
    margin-bottom: 60px;
  }
}

@media (max-width: 320px) {
  .header[data-type="aboutMe"] {
    margin-bottom: 43px;
  }

  .header[data-type="aboutMe"] .name {
    font-size: 12px;
  }

  .header[data-type="aboutMe"] .img {
    margin-right: 8px;
  }

  .header[data-type="control-panel"] .ilinkLogo {
    width: 50px;
    height: 31px;
  }

  .header[data-type="control-panel"] .photoSection {
    flex-direction: row;
    font-size: 12px;
  }

  .header[data-type="control-panel"] .photoSection h2 {
    display: none;
  }

  .header[data-type="control-panel"] .name:last-child {
    display: flex;
    font-size: 12px;
  }
}
