/* table, th, td {
  border: 1px solid black;
}     */
.tableStyle {
  /* display: flex; */
  width: 100%;
  overflow-x: auto;
  margin-bottom: 29px;
}

.table {
  display: flex;
  width: 100%;
  /* width: 600px; */
}

.table .column:first-child {
  width: 25%;
}

.table .column:nth-child(2) {
  width: 60%;
}

.table .column:nth-child(3) {
  width: 15%;
}

.tableStyle .column:first-child {
  position: sticky;
  left: 0;
  z-index: 2;
  background-color: white;
}

.info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* height: 66px; */
  padding: 24px 0;
  border-bottom: 1px dashed #e0e0e0;
}

.info:last-child {
  border-bottom: none;
}

.info img {
  height: 40px;
  width: 40px;
  margin-right: 12px;
}

.info h2 {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 15px;
  color: #464e5f;
}

.text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* width: 83%; */
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  height: 88px;
  padding: 24px 0;
  /* width: 100%; */
  color: #464e5f;
  font-family: "Gilroy";
  border-bottom: 1px dashed #e0e0e0;
}

.text:last-child {
  border-bottom: none;
}

.statusWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 66px; */
  height: 88px;
  padding: 24px 0;
  border-bottom: 1px dashed #e0e0e0;
}

.statusWrapper:last-child {
  border-bottom: none;
}

.column .colHeader {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #f5f5f5;
  padding: 15px 0px 13px 24px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.03em;
  color: #464e5f;
}

.status {
  font-family: "Gilroy";
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 33px;
  width: 138px;
  height: 34px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #61bf4a;
  background: #f0f9ed;
  border-radius: 2px;
}

.status[data-status="2"] {
  color: #eb5757;
  background-color: #fdeeee;
}

.status[data-status="4"] {
  color: #8a8a8a;
  background-color: #f5f5f5;
}

@media (max-width: 1150px) {
  .status {
    width: 100%;
  }
}

@media (max-width: 750px) {
  .table .column:first-child {
    width: 27%;
  }
}

@media (max-width: 550px) {
  .table {
    width: 600px;
  }
  .table .column:first-child {
    width: 27%;
  }
}