.formItem {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  margin-bottom: 32px;
}

.formItem label {
  margin-bottom: 4px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  font-family: "Factor A";
}


.formItem .passwordInput[type="text"] {
    font-weight: 600;
    letter-spacing: 0.2em;
  }
  

.formItem input {
  width: 100%;
  padding: 15px 12px;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  font-family: "Gilroy";
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  font-style: normal;
}

.formItem input[data-is-error="true"],
input[data-is-error="true"]:focus,
input[data-is-error="true"]:active {
  outline: 2px solid #eb5757;
}

.formItem input[data-has-data="true"],
input[data-has-data="true"]:focus,
input[data-has-data="true"]:active {
  outline: 2px solid #585cc6;
}

.formItem input[data-has-data="false"],
input[data-has-data="false"]:focus,
input[data-has-data="false"]:active {
  outline: 2px solid #eb5757;
}

.formItem input[data-is-unknown-user="true"],
.formItem input[data-is-unknown-user="true"]:focus,
.formItem input[data-is-unknown-user="true"]:active {
  outline: 2px solid #eb5757;
}

.inputWrapper {
  position: relative;
  width: 100%;
}

.icons {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

.icon {
  cursor: pointer;
}

.hoverMsg {
  position: absolute;
  bottom: 50px;
  right: -16px;
}

/* type controlPanel  */
.formItem[data-type="controlPanel"] {
  width: 403px;
}
