.textAreaWrapper {
  position: relative;
}

.textarea {
  font-family: "Gilroy";
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  width: 628px;
  height: 105px;
  padding: 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #8a8a8a;
  resize: none;
  overflow-y: auto;
  scrollbar-width: none;
}

.textarea[data-is-error="true"] {
  border: 1px solid #eb5757;
}

.counter {
  font-family: "Gilroy";
  width: 30px;
  height: 14px;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: #8a8a8a;
  position: absolute;
  right: 16px;
  bottom: 4px;
}

@media (max-width: 710px) {
  .textarea {
    width: 100%;
  }
}

@media (max-width: 420px) {
  .textarea {
    width: 256px;
    margin-bottom: 12px;
  }
  
  .counter {
    right: 50px;
    bottom: 20px;
  }
}
