.textAreaWrapper {
  position: relative;
}

.textarea {
  font-family: "Gilroy";
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  width: 628px;
  height: 105px;
  padding: 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #8a8a8a;
  resize: none;
  overflow-y: auto;
  scrollbar-width: none;
}

.textarea[data-is-error="true"] {
  border: 1px solid #eb5757;
}

.counter {
  font-family: "Gilroy";
  width: 30px;
  height: 14px;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: #8a8a8a;
  position: absolute;
  right: 16px;
  bottom: 4px;
}

/* type long */
.textAreaWrapper[data-type="long"] {
  width: 100%;
}

.textAreaWrapper[data-type="long"] .textarea{
  width: 100%;
  height: 52px;
  padding: 10px 12px;
}

/* .textAreaWrapper[data-type="long"] .counter {
  display: none;
} */

/* type big */
.textAreaWrapper[data-type="big"] {
  width: 100%;
}

.textAreaWrapper[data-type="big"] .textarea{
  width: 100%;
  height: 118px;
  padding: 15px 12px;
}

/* .textAreaWrapper[data-type="big"] .counter {
  display: none;
} */


@media (max-width: 710px) {
  .textarea {
    width: 100%;
  }
}

@media (max-width: 420px) {
  .textarea {
    width: 256px;
    margin-bottom: 12px;
  }
  
  .counter {
    right: 50px;
    bottom: 20px;
  }
}

@media (max-width: 320px) {
  .textAreaWrapper[data-type="EditReviewModal"] .textarea{
    width: 256px;
    height: 222px;
  }
  .counter {
    right: 20px;
    bottom: 20px;
  }

  .textAreaWrapper[data-type="big"] .textarea {
    height: 268px;
  }
}
