.item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 24px;
  color: #464e5f;
  font-family: "Gilroy";
  border-bottom: 1px dashed #e0e0e0;
  position: relative;
}

.item:last-child {
  border-bottom: none;
}

.info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 26%;
}

.item .info img {
  height: 40px;
  width: 40px;
  margin-right: 12px;
}

.item .info h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}

.movingBlock {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  justify-content: center;
}

.text {
  display: flex;
  justify-content: flex-start;
  align-items: start;
  width: 83%;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.status {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 33px;
  width: 138px;
  height: 34px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #61bf4a;
  background: #f0f9ed;
  border-radius: 2px;
}

.status[data-status="2"] {
  color: #eb5757;
  background-color: #fdeeee;
}

.status[data-status="4"] {
  color: #8a8a8a;
  background-color: #f5f5f5;
}

@media (max-width: 320px) {
  .item {
    padding: 0 16px;
  }
  .info {
    width: 17%;
    position: sticky;
    left: 0;
    overflow: hidden;
    background-color: #fff;
    z-index: 1000;
    height: 66px;
  }


  .item[data-type="scrollable"] .movingBlock {
    position: absolute;
    justify-content: flex-start;
  }

  .item[data-type="scrollable"] .text {
    width: 20%;
  }
}
