.goodWindow {
  position: fixed;
  right: 40px;
  bottom: 10px;
  width: 438px;
  height: 132px;
  background: #f64b3c;
  border-radius: 32px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  position: absolute;
  left: 24px;
  top: -42px;
  z-index: 10;
}

.info {
  width: 244px;
  height: 92px;
  margin-left: 80px;
}

.info h2 {
  font-family: "Factor A";
  font-weight: 500;
  font-size: 32px;
  color: #fff;
}

.info p {
  font-family: "Gilroy-Regular";
  font-weight: 400;
  font-size: 14px;
  color: #fff;
}

.redBubblesBg {
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  border-radius: 0 0 0 32px;
}

.closeIcon {
  position: absolute;
  cursor: pointer;
  top: 24px;
  right: 24px;
}

@media (max-width: 490px) {
  .goodWindow {
    position: fixed;
    width: 310px;
    right: 10px;
    bottom: 12px;
  }

  .info {
    width: 160px;
    margin-left: 40px;
  }

  .info h2 {
    font-size: 22px;
  }
}
