.action {
  display: none;
}

.item .canceledMsg[data-is-canceled="false"] {
  display: none;
}

.item .publishMsg[data-is-publish="false"] {
  display: none;
}

.item {
  min-width: 519px;
  min-height: 279px;
  padding: 24px;
  border-radius: 2px;
  background-color: #f5f5f5;
  margin-right: 24px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.header p {
  font-family: "Factor A";
  font-size: 14px;
  color: #8a8a8a;
  font-weight: 400;
}

.content {
  font-family: "Gilroy";
  font-size: 14px;
  color: #333333;
  line-height: 22px;
}

.userInfo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.userInfo img {
  height: 52px;
  width: 52px;
  border-radius: 2px;
  margin-right: 20px;
}

.userInfo p {
  color: #333333;
  font-family: "Factor A";
  font-size: 24px;
}

/* type review control panel */
.item[data-type="controlPanelReview"] {
  width: 519px;
  height: 363px;
  margin-right: 24px;
  margin-bottom: 24px;
  position: relative;
}

.item[data-type="controlPanelReview"] .action {
  display: flex;
  position: absolute;
  bottom: 0;
}

.item[data-type="controlPanelReview"] .action div {
  margin-right: 80px;
}

.item[data-type="controlPanelReview"] .action svg {
  cursor: pointer;
  transition: all 0.5s ease;
}

.item[data-type="controlPanelReview"] .action svg path {
  transition: all 0.5s ease;
}

.item[data-type="controlPanelReview"] .action svg:hover path {
  fill: rgb(226, 101, 243);
}

/* publish */
.item[data-status="approved"],
.item[data-is-publish="true"] {
  background-color: rgba(181, 255, 162, 0.1);
}

/* cancel */
.item[data-status="declined"],
.item[data-is-canceled="true"] {
  background-color: #fdeeee;
}

.item[data-is-cancel="true"] {
  display: none;
}

.item[data-status="declined"] .canceledMsg,
.item .canceledMsg[data-is-canceled="true"] {
  display: flex;
}

.item[data-status="declined"] .action,
.item .action[data-is-canceled="true"] {
  display: none;
}

.canceledMsg {
  position: absolute;
  bottom: 24px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.canceledMsg svg {
  margin-right: 15px;
}

.canceledMsg h2 {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0.01em;
  color: #eb5757;
}
/* end cancel */

/* publish  */
.publishMsg[data-status="approved"],
.publishMsg[data-is-publish="true"] {
  display: flex;
}

.item[data-status="approved"] .action,
.publishMsg[data-status="approved"],
.item .action[data-is-publish="true"] {
  display: none;
}
.item[data-status="approved"] .publishMsg,
.publishMsg[data-status="approved"],
.publishMsg {
  position: absolute;
  bottom: 24px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.publishMsg svg {
  margin-right: 15px;
}

.publishMsg h2 {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0.01em;
  color: #61bf4a;
}

@media (max-width: 1470px) {
  .item[data-type="controlPanelReview"] {
    max-width: 519px;
    width: 45%;
    height: auto;
  }

  .item[data-type="controlPanelReview"] .action {
    position: inherit;
    flex-direction: row;
    margin-top: 24px;
    justify-content: space-between;
    align-items: center;
  }

  .item[data-type="controlPanelReview"] .action div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-right: 20px;
  }

  .item[data-type="controlPanelReview"] .action div button {
    width: 108px;
    height: 42px;
    font-size: 14px;
    padding: 6px 12px;
    margin: 0;
  }

  .item[data-type="controlPanelReview"] .action div button:first-child {
    width: 120px;
    margin-bottom: 12px;
  }

  .item[data-type="controlPanelReview"] .editBtn {
    margin: 0;
    width: 42px;
    height: 42px;
  }
}

@media (max-width: 1040px) {
  .item[data-type="controlPanelReview"] {
    width: 100%;
    height: auto;
  }

  .item[data-type="controlPanelReview"] .action div {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    margin-right: 20px;
  }

  .item[data-type="controlPanelReview"] .action div button:first-child {
    margin-right: 12px;
    margin-bottom: 0;
  }
}

@media (max-width: 760px) {
  .item[data-type="controlPanelReview"] {
    margin-right: 0;
  }
}

@media (max-width: 590px) {
  .item {
    height: auto;
    padding: 16px 12px;
  }

  .item[data-type="controlPanelReview"] {
    width: 288px;
    height: auto;
  }

  .item[data-type="controlPanelReview"] .action {
    justify-content: start;
  }

  .item[data-type="controlPanelReview"] .action div {
    margin-right: 6px;
  }

  .item[data-type="controlPanelReview"] .action div button {
    font-size: 12px;
  }

  .item[data-type="controlPanelReview"] .action div button:first-child {
    margin-right: 6px;
    width: 102px;
  }
}

@media (max-width: 320px) {
  .item {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 16px 12px;
  }

  .header {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 4px;
  }

  .content {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
  }

  .userInfo {
    margin-bottom: 12px;
  }

  .userInfo img {
    margin-right: 8px;
  }

  .userInfo p {
    font-size: 16px;
  }

  /* type review */
  .item[data-type="controlPanelReview"] {
    width: 100%;
    height: auto;
    margin-right: 0;
  }

  .item[data-type="controlPanelReview"] .content {
    margin-bottom: 22px;
  }

  .publishMsg[data-is-publish="true"] {
    position: initial;
  }

  .canceledMsg[data-is-canceled="true"] {
    position: initial;
  }

  .item[data-type="controlPanelReview"] .action {
    position: inherit;
    flex-direction: row;
    margin-top: 24px;
    justify-content: center;
    align-items: center;
  }

  .item[data-type="controlPanelReview"] .action div {
    display: flex;
    flex-direction: row;
    margin-right: 6px;
  }

  .item[data-type="controlPanelReview"] .editBtn {
    margin: 0;
    width: 42px;
    height: 42px;
  }
}
