@font-face {
  font-family: "Factor A";
  src: url("./assets/fonts/FactorAMedium-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("./assets/fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
