.button {
  cursor: pointer;
  height: 52px;
  width: 220px;
  padding: 17px 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: "Gilroy";
  font-weight: 600;
  border: none;
  border-radius: 2px;

  background: linear-gradient(to left, #585cc6 50%, #6469e6e6 50%) right;
  background-size: 200%;
  transition: 0.5s ease-out;
}

.button:hover {
  background-position: left;
}

.icon {
  margin-right: 12px; 
}

.button:disabled {
  background: #8a8a8a;
}
